body {
  min-width:325px;
	padding: 10px;
	height: 100px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
	font-size: .75em;
	margin: 0;
}
#buttons {
	text-align: center;
	font-size: 1em;
}

h2 {
	text-align: center;
	font-size: 2em;
	color: rgb(185,9,11);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
